div,article {
    width:250px;
    height:400px !important;
    border:1px solid blue;
    padding: 20px;
    margin: 20px;
}
.listado {
    margin-top: 20px;
}

.listado,th,td {

    border-width: 1px;
    border-color:aqua;
    border-style:solid;

}
